body {
    background-color: black;
    font-family: 'Exo 2', sans-serif;
}

#logo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#pokemon {
    width: 500px;
    height: 200px;
    border-radius: 24px;
    border: 12px solid rgb(80, 89, 141);
}

#main-container {
    display: grid;
    grid-template-columns: 10% auto 2% auto 10%;
    color: rgb(241, 241, 157);
    -webkit-text-stroke: 1.5px rgb(80, 89, 141); 
    margin-top: 4em;
}

.content-with-border {
    border: 12px solid rgb(80, 89, 141);
    margin-top: 50px;
    border-radius: 24px;
}

#left-container {
    display: grid;
    grid-template-rows: 20% 80% 20%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 400px;
}

#init-lc-img {
    width: 20em;
    height: 18em;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
    border: 1px solid rgb(80, 89, 141);
    border-radius: 24px;
}

#right-container {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    height: 400px;
}

.rc-text-content {
    font-size: 24px;
    justify-self: center;
}

#rch1-1 {
    margin-top: 56px;
}

#rc-span-7 {
    margin-bottom: 24px;
}

.push {
    height: 13em;
}

footer {
    text-align: center;
    border-top: 10px solid rgb(80, 89, 141);
    background-color: black;
    color: rgb(241, 241, 157);
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia sans-serif;
}